@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* --color-blue-grey: #E5EDF1; */
    /* --color-body: #F6F7FA; */
    --color-accent: #E21936;
    --color-body: #FDFDFC;
    --color-border: #EDEDED;
    --color-font: #333;
    --color-font-lite: #999;

    --font-serif: 'Times New Roman', serif;
    --font-sans: 'Instrument Sans', Tahoma, Geneva, Verdana, sans-serif;

    --fs-4xs: 0.6125rem;
    --fs-3xs: 0.675rem;
    --fs-2xs: 0.75rem;
    --fs-xs: 0.8125rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 2.5rem;
    --fs-4xl: 3rem;

    --spacing: 0.25rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-sans);
    font-size: 16px;
}

body {
    background-color: var(--color-body);
    border: 1px solid red;
    height: 100vh;
    width: 100%;
}
