@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --border-radius: 0.5rem;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    /* --color-blue-grey: #E5EDF1; */
    /* --color-body: #F6F7FA; */
    --color-accent: #E21936;
    --color-body: #F8F9FA;
    --color-border: #EDEDED;
    --color-font: #333;
    --color-font-lite: #999;

    --font-serif: 'Times New Roman', serif;
    --font-sans: 'Inter', Tahoma, Geneva, Verdana, sans-serif;

    --fs-4xs: 0.6125rem;
    --fs-3xs: 0.675rem;
    --fs-2xs: 0.75rem;
    --fs-xs: 0.8125rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 2.5rem;
    --fs-4xl: 3rem;

    --spacing: 0.25rem;

    --width-xxl: 80rem;
    --width-xl: 64rem;
    --width-lg: 60rem;
    --width-md: 48rem;
    --width-sm: 40rem;
    --width-xs: 24rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-sans);
    font-size: 16px;
}

body {
    background-color: var(--color-body);
    /* background-color: white; */
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;
}

.hidden {
    display: none;
}

.card {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: clamp(1.25rem, 3vw, 1.5rem);
    width: 100%;
}